@layer components {
  .card {
    --card-background: rgba(104, 115, 128, 0.2);
    --card-shadow:
      2px 5px 5px 0 rgba(2, 3, 5, 0.16),
      5px 3px 4px -5px rgba(223, 223, 247, 0.8) inset,
      -5px -3px 8px -5px rgba(223, 223, 247, 0.2) inset,
      0px 0px 0px 1px rgba(47, 59, 71, 0.18);
    --card-border-top: linear-gradient(
      135deg,
      rgba(190, 194, 213, 0.44) 0%,
      rgba(255, 255, 255, 0) 40%
    );
    --card-border-bottom: var(--card-border-top);
    --card-mask:
      linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

    /* Card Gradient Borders */
    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 1.7rem;
      pointer-events: none;
      z-index: 100;
      mask: var(--card-mask);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
      padding: 1px; /* Border thickness */
      box-sizing: border-box;
    }

    &::before {
      background: var(--card-border-top);
    }

    &::after {
      background: var(--card-border-bottom);
      transform: rotate(180deg);
    }
  }
}
