.card {
  --card-background: oklch(55.088% 0.02429 252.686 / 0.2);
  --card-shadow:
    2px 5px 5px 0 rgba(2, 3, 5, 0.15),
    5px 3px 3px -5px rgba(223, 223, 247, 0.8) inset,
    0px 0px 0px 1px rgba(47, 59, 71, 0.18);
  --card-border: 1px solid rgba(190, 194, 213, 0.1);

  position: relative;
  width: 100%;
  min-height: 480px; /* TODO remove this? */
  max-width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;

  border: var(--card-border);
  border-radius: 2.5rem;
  backdrop-filter: blur(6px);
  background: var(--card-background);
  box-shadow: var(--card-shadow);
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 2.5rem;
  pointer-events: none;
  z-index: 100;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 1px; /* Border thickness */
  box-sizing: border-box;
}

.card::before {
  background: linear-gradient(
    135deg,
    rgba(190, 194, 213, 0.44) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}

.card::after {
  background: linear-gradient(
    135deg,
    rgba(190, 194, 213, 0.44) 0%,
    rgba(0, 0, 0, 0) 40%
  );
  transform: rotate(180deg);
}
