@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  /* BREAKPOINTS */
  --breakpoint-5xs: 12rem; /* 192px */
  --breakpoint-4xs: 16rem; /* 256px */
  --breakpoint-3xs: 20rem; /* 320px */
  --breakpoint-2xs: 23rem; /* 368px */
  --breakpoint-xs: 28rem; /* 448px */
  /* --breakpoint-sm: 40rem; 640px */
  /* --breakpoint-md: 48rem; 768px */
  /* --breakpoint-lg: 64rem; 1024px */
  /* --breakpoint-xl: 80rem; 1280px */
  /* --breakpoint-2xl: 96rem; 1536px */
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 160rem; /* 2560px */

  /* ANIMATIONS */
  /* Slide */
  --slide-speed: 300ms;
  --slide-ease: ease-in-out; /* try also cubic-bezier(0.16, 1, 0.3, 1) */
  --slide-distance: 100%;
  --slide-distance-negative: -100%;

  --animate-slideDown: slideDown var(--slide-speed) var(--slide-ease);
  --animate-slideLeft: slideLeft var(--slide-speed) var(--slide-ease);
  --animate-slideUp: slideUp var(--slide-speed) var(--slide-ease);
  --animate-slideRight: slideRight var(--slide-speed) var(--slide-ease);

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(var(--slide-distance-negative));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(var(--slide-distance));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(var(--slide-distance));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(var(--slide-distance-negative));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Skeleton */
  /* TIP: Add the `animate-skeleton` class to skeleton elements inside a Suspense fallback or loading component and a `animate-fadeInFromSkeleton` class to their respective real elements  */
  --skeleton-speed: 1.5s;
  --skeleton-ease: ease-in-out;

  --animate-skeleton: skeleton var(--skeleton-speed) infinite
    var(--skeleton-ease);
  --animate-skeleton-200: skeleton var(--skeleton-speed) infinite
    var(--skeleton-ease) 200ms;
  --animate-skeleton-400: skeleton var(--skeleton-speed) infinite
    var(--skeleton-ease) 400ms;
  --animate-skeleton-600: skeleton var(--skeleton-speed) infinite
    var(--skeleton-ease) 600ms;
  --animate-skeleton-800: skeleton var(--skeleton-speed) infinite
    var(--skeleton-ease) 800ms;
  --animate-skeleton-1000: skeleton var(--skeleton-speed) infinite
    var(--skeleton-ease) 1000ms;

  @keyframes skeleton {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.2;
    }
  }

  /* fadeInFromSkeleton */
  --animate-fadeInFromSkeleton: fadeInFromSkeleton 200ms ease-in;

  @keyframes fadeInFromSkeleton {
    from {
      opacity: 0.4; /* ? 0.4 to match the skeleton opacity */
    }
    to {
      opacity: 1;
    }
  }

  /* Appear */
  --animate-appear: appear 250ms ease-in;

  @keyframes appear {
    from {
      /* transform-origin: top; */
      transform: translateY(-33px);
      opacity: 0;
    }
    to {
      /* transform-origin: top; */
      transform: translateY(0);
      opacity: 1;
    }
    30% {
      /* transform-origin: top; */
      transform: translateY(-33px);
      opacity: 0;
    }
  }

  /* Appear staggered */
  --animate-appear-slower: appear-slower 300ms ease-in;

  @keyframes appear-slower {
    from {
      transform: translateY(-33px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-33px);
      opacity: 0;
    }
  }

  /* Bounce */
  --animate-bounce-x: bounce-x 1.5s infinite ease-in-out;

  @keyframes bounce-x {
    0%,
    100% {
      transform: translateX(2px);
    }
    50% {
      transform: translateX(-2px);
    }
  }
}

@layer base {
  /* Variables */
  :root {
    --bg-image-top: #ebeff1;
    --bg-image-bottom: #1e2530;
    --bg-image-bottom-lighter: #303e4e;
    --background: var(--bg-image-top);
    --foreground: #374151; /* similar to gray-700 */
    --foreground-secondary: #4a5565; /* gray-600 */
    --primary-light: #62c0f6;
    --primary-dark: #2c8fc8;
    --primary: var(--primary-dark);
    --selection: rgba(98, 192, 246, 0.3);
    --success-light: #00c950; /* green-500 */
    --success-dark: #026630; /* green-800 */
    --success: var(--success-dark);
    --text-shadow-lg: 2px 2px 0.5px rgba(0, 0, 0, 0.25);
    --text-shadow-sm: 1px 1px 0.5px rgba(0, 0, 0, 0.25);

    /* Dark Variables */
    @media (prefers-color-scheme: dark) {
      --background: var(--bg-image-bottom);
      --foreground: #e5e7eb; /* gray-200 */
      --foreground-secondary: #d1d5db; /* gray-300 */
      --primary: var(--primary-light);
      --selection: rgba(44, 143, 200, 0.35);
      --success: var(--success-light);
    }
  }

  /* Default Styling */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

  html {
    @media (prefers-color-scheme: dark) {
      color-scheme: dark; /* Use dark browser theme */
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family:
      -apple-system, 'Helvetica Neue', Helvetica, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background: var(--selection);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  input {
    border: 1px solid var(--foreground);
  }
}
