@layer components {
  /* NotFound Background Image */
  .not-found::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/paul-pastourmatzis-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
